* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: Arial, sans-serif;
    background-color: #f5f5f7;
    color: #1d1d1f;
}
div{
    background-color: black;
}
.container {
    font-weight: 100;
    display: flex;
    background-color: black;
    height: 60px;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}
.middle {
    height: 600px;
    width: 100%;
    color:white;
    align-items: center;
    justify-content: center;
    
    background-position: center;
    

}
.middle h1 {
    text-align: center;
    font-size: 50px;
}
.middle h4 {
    text-align: center;
    font-size: 20px;
    margin-top: 20px
}
.middle #links{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}
.middle #links button {
    background-color: royalblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
}
.middle img {
    margin-top: 30px;
    width: 100%;
    height: 500px;
}
.bottom {
    background-color: white;
    height: 600px;
    width: 100%;
    color: black;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    

}
.bottom h1 {
    text-align: center;
    font-size: 50px;
}
.bottom h4 {
    text-align: center;
    font-size: 20px;
    margin-top: 20px
}
.bottom #links{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}
.bottom #links button {
    background-color: royalblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
}
.bottom img {
    margin-top: 30px;
    width: 100%;
    height: 500px;
}
